.btn{
    
    display: flex;
    justify-content: center;
    align-items:center;
    
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 140%;
    max-width: 100%;
    transition: ease 0.3s;
    &:hover{
        transform: scale(1.1);
        opacity: 0.8;
    }
    
    
    
        
        
    
        
}
