.dropped-box{
    display: flex;
    width: 30%;
    height: 25%;
    border-radius: 7px;
    flex-direction: column;
    align-items: center;
    
    background-color: rgb(236, 236, 236);
    .dropped-name{
        height: 10%;
    }
    .box-separation{
        width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        .dropped-img{
            width: 40%;
            height: 70%;
            border: 5px solid brown;
        }
        .dropped-description{

        }
    }
    



}