.interface{
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    .btns{
        display: flex;
        flex-direction: column;
    }
    .s-a-i {
       
        background-color: #FFCC66;
        width:35%;
        display: flex;
        padding: 15px 15px;
        font-family: "Papyrus";
        .inv-box{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap:10px;
            .fish-box{ 
                border: 1px solid black;
                display: flex;
                justify-content: center;

                flex-direction: column;
                align-items: center;
                color: #B7213F;
                padding:7px 15px;
                
            
                .fish-name{

                }
                .fish-img{
                    width: 20%;
                    height: 20%;
                    
                }
                .info{
                    display: flex;
                    justify-content: space-between;
                    .fish-chance{

                    }
                    .fish-price{

                    }

                    }
                    .btn-sold{
                    }
                }
        }
    }

}