.shop-box {
    transition: 1s ease-in;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
            overflow-y: auto;
            overflow-x: hidden;
}
  
  .upgrade-box {
    background: #f9e2a5;
            border: 3px solid #a65b24;
              border-radius: 16px;
              padding: 5px;
              width: 140px;
              box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
              color: #b7213f;
              font-size: 14px;
              display: flex;
              flex-direction: column;
              align-items: center;
  
    .upgrade-name {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #7b2c11;
    }
  
    .upgrade-boostPr,
    .upgrade-fillSpd,
    .upgrade-price {
      font-size: 14px;
    }
  
   
  }
  