.fishing-box {
  position: absolute;
  align-items: center;
  align-self: center;
  width: 7%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 50%;
}
.fishing-box .fishing-pos .float {
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  justify-content: space-between;
  position: absolute;
  border-radius: 20px;
  width: 23%;
  height: 20%;
  left: 45%;
  padding: 0;
}
.fishing-box .fishing-pos .float .min-y {
  width: 0.3%;
  height: 0.3%;
}
.fishing-box .fishing-pos .float .max-y {
  width: 0.3%;
  height: 0.3%;
}
.fishing-box .fishing-pos .fish {
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 23%;
  height: 10%;
  left: 45%;
  z-index: "1";
}
.fishing-box .fishing-scale {
  display: flex;
  align-self: center;
  position: absolute;
  background-color: brown;
  width: 10%;
  height: 97%;
  left: 85%;
  border-radius: 4px;
}
.fishing-box .fishing-scale .pogress-bar {
  align-self: center;
  position: absolute;
  background-color: yellow;
  width: 100%;
  bottom: 0px;
  border-radius: 4px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 140%;
  max-width: 100%;
  transition: ease 0.3s;
}
.btn:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.interface {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
}
.interface .btns {
  display: flex;
  flex-direction: column;
}
.interface .btns .balance {
  display: flex;
  height: 15%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #B7213F;
  font-family: "Papyrus";
  justify-content: center;
  align-items: center;
  font-size: 100%;
}
.interface .s-a-i {
  transition: 1s ease-in;
  display: none;
  position: relative;
  overflow: hidden;
  background-color: #ffcc66;
  width: 35%;
  font-family: "Papyrus", cursive;
  border: 4px solid #a65b24;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(166, 91, 36, 0.5);
  display: flex;
  flex-direction: column;
  padding-top: 35px;
}
.interface .s-a-i .close-btn {
  position: absolute;
  right: 0;
  top: 0;
}
.interface .s-a-i .inv-box {
  transition: 1s ease-in;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.interface .s-a-i .inv-box .fish-box {
  background: #f9e2a5;
  border: 3px solid #a65b24;
  border-radius: 16px;
  padding: 5px;
  width: 140px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  color: #b7213f;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.interface .s-a-i .inv-box .fish-box .fish-name {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-bottom: 5px;
}
.interface .s-a-i .inv-box .fish-box .fish-img {
  width: 64px;
  height: 64px;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
  margin: 5px 0;
}
.interface .s-a-i .inv-box .fish-box .info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
  margin: 5px 0;
}
.interface .s-a-i .inv-box .fish-box .info .fish-chance,
.interface .s-a-i .inv-box .fish-box .info .fish-price {
  color: #703c1c;
}
.interface .s-a-i .inv-box .btn-sold {
  margin-bottom: 10px;
}

body {
  background-color: #000;
}/*# sourceMappingURL=App.css.map */